# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
.env

# Distribution / packaging
*.egg-info/
build/
dist/

# VS Code settings
.vscode/
*.code-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
